@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color : #1E1E1E;
  --primary-color : #6A5AF6;
  --secondary-color : #F9D399;
  --text-color : #FFFAFA;
}

body {
  background-color: var(--bg-color);
}
